<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<meta name="viewport" content="width=device-width" />
<title>I Folio A Responsive HTML5 Template</title>
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/jqueryslidemenu.css" />
<link rel="stylesheet" type="text/css" href="css/widget.css" />
<link rel="stylesheet" type="text/css" href="css/flexslider.css" />
<link rel="stylesheet" type="text/css" href="css/portfolio.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="css/own.css" />

<link rel="stylesheet" type="text/css" href="css/responsive.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700' rel='stylesheet' type='text/css' />
<script type="text/javascript" src="js/jquery-1.8.1.js"></script>
<script type="text/javascript" src="js/jqueryslidemenu.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript">
//portfolio flex slider
jQuery(document).ready(function(){	
	jQuery('.flexslider').flexslider();
	directionNav:true
});
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<body>
<section id="header_wrap">
<nav id="myslidemenu" class="jqueryslidemenu clearfix">
    <ul>
    <!-- Logo Start -->
<a href="index.html"><img style="float:left" src="images/logo.png" alt="img" /></a>
<!-- Logo End -->
        <li><a class="active" href="index.html">首页</a></li>
        <li><a href="discover.html">发现</a></li>
  <li><a href="usercenter.html">个人主页</a></li>
          <a style="float:right;"  href="#">注册</a>
            <a style="float:right;"  href="#">登陆</a>
<form class="searchform" method="get" role="search" />
            <input class="s" type="text" onBlur="if(this.value=='') this.value='Site Search'" onFocus="if(this.value =='Site Search' ) this.value=''" value="Site Search" />
            <input class="searchsubmit" type="submit" value="" />
            <a onClick="document.getElementById('search-form').submit()"></a>
        </form>
    </ul>
</nav>
</section>
<!-- Header End -->

<div id="triangle-up"></div>

<!-- Content Start -->
<section id="content_wrap" class="typography">
<article>

	
    <div class="portfolio_top">
    <h3>丽江</h3>
<!--    <div class="portfolio_nav">
        <a class="pf_page" href="index.html"></a>
        <a class="pf_next" href="portfolio_single_page_2.html"></a>
    </div> -->
    </div>
    
    <div class="clear"></div>
    
    <!-- Portfolio Single Page 1 Start -->
    <div class="two_third">
    <div class="flexslider">
        <ul class="slides">
            <li><img src="images/丽江1.jpg" alt="img" /></li>
            <li><img src="images/丽江2.jpg" alt="img" /></li>
            <li><img src="images/丽江3.jpg" alt="img" /></li>
        </ul>
    </div>
    </div>
    <div class="one_third_last">
        <p>丽江处于云南省西北部，距昆明市527公里。被称为“中国古典音乐活化石”的纳西古乐，世界上唯一“活着的”东巴象形文字，仍具有母系氏族特征的摩梭人，玉龙雪山，虎跳峡……使丽江成为中国乃至世界的旅游热点地区。</p>
        
        <br />
        
        <br />
        <a href="more.html" class="button">查看更多</a>
        <br /><br />
        <a href="writtings.html" class="button">进入游记</a>

    </div>
    <!-- Portfolio Single Page 1 End -->
    
</article>
</section>
<!-- Content End -->

<div id="triangle-down">&nbsp;</div>

<!-- Footer Start -->
<section id="footer_wrap">
<footer>
    
   

    <div class="bottom_sec">
        <span>Copyright &copy; 香草旅行 2013</span>
        <ul>
            <li><img src="images/social_icon_1.png" alt="img" /></li>
            <li><img src="images/social_icon_2.png" alt="img" /></li>
            <li><img src="images/social_icon_3.png" alt="img" /></li>
            <li><img src="images/social_icon_4.png" alt="img" /></li>
            <li><img src="images/social_icon_5.png" alt="img" /></li>
        </ul>
    </div>

</footer>
</section>
<!-- Footer End -->
</body>
</html>
