<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

<meta name="Keywords" content="旅行" />
<meta name="Descriptions" content="配合移动端用极简的方式完成游记的撰写" />
<title>香草旅行</title>
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/jqueryslidemenu.css" />
<link rel="stylesheet" type="text/css" href="css/quicksand.css" />
<link rel="stylesheet" type="text/css" href="css/widget.css" /><link rel="stylesheet" type="text/css" href="css/own.css" />
<link rel="stylesheet" type="text/css" href="css/hoverdir.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700' rel='stylesheet' type='text/css' />
<script type="text/javascript" src="js/jquery-1.8.1.js"></script>
<script type="text/javascript" src="js/jqueryslidemenu.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/portfolio_sortable.js"></script>
<script type="text/javascript" src="js/quicksand.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/own_silde.js"></script>
<script type="text/javascript" src="js/jquery.hoverdir.js"></script>
<script type="text/javascript">
//Image Hover
jQuery(document).ready(function(){
jQuery(function() {
	jQuery('#list > li').hoverdir();
});
});
</script>
<script type="text/javascript"> 
$(document).ready(function(){
$(".flip").click(function(){
    $("#panel").slideToggle("slow");
  });
});
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>





<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<body>
<!-- Header Start -->
<section id="header_wrap">
<nav id="myslidemenu" class="jqueryslidemenu clearfix">
    <ul>
    	<!-- Logo Start -->
<a href="index.html"><img style="float:left" src="images/logo.png" alt="img" /></a>
<!-- Logo End -->
           <li><a class="active" href="index.html">首页</a></li>
        <li><a href="discover.html">发现</a></li>
      <li><a href="usercenter.html">个人主页</a></li>
          <a style="float:right;"  href="#">注册</a>
            <a style="float:right;"  href="#">登陆</a>
  <form class="searchform" method="get" role="search" />
            <input class="s" type="text" onBlur="if(this.value=='') this.value='Site Search'" onFocus="if(this.value =='Site Search' ) this.value=''" value="Site Search" />
            <input class="searchsubmit" type="submit" value="" />
            <a onClick="document.getElementById('search-form').submit()"></a>
        </form>

       <!-- <li><a href="typography.html">Typography</a>
        <ul>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="columns.html">Columns</a></li>
            <li><a href="pricing_table.html">Pricing Table</a></li>
        </ul>--> 
    </ul>
</nav>
</section>
<!-- Header End -->



<!-- Usertitle Start -->
<section id="content_wrap">
<article>
	

    <div class="page_title" >    
    	<a href="usercenter.html"><img src="images/Cover.jpg" style="float:left" alt="img" width=10% /> </a>
        <br>
        <h2 style="text-align:left">&nbsp&nbsp&nbsp我的西藏之行     	</h2>   

        
        <div class="threebuttons">
        <ul >
		<li ><a class="titleright" href="#">收藏</a></li>
		<li ><a class="titleright" href="#">评论</a></li>
		<li ><a class="titleright" href="#">分享</a></li>
        </ul>
    	</div>
                
     </div>	
     <div class="page_title" id="panel"> 
     	<h3> 旅行地点:丽江</h3>
        <h3> 旅行人数:2人 </h3>
        <h3> 旅行天数：5天 </h3>
      </div>
      <p class="flip">点击查看详情</p>
	
    
</article>
</section>
<!-- Usertitle End -->
<div id="triangle-down">&nbsp;</div>
<div id="writting">
	<div class="innerbox">
	<img src="images/travel1.jpeg">	
    <span>外滩夜景</span>
    <a class="titleright" href="#"> 喜欢 </a>
    </div>
    
    <div class="innerbox">
	<img src="images/travel2.jpeg">	
    <span>被我抓拍到了耶~</span>
    <a class="titleright" href="#"> 喜欢 </a>
    </div>
    
    <div class="innerbox">
	<img src="images/travel3.jpeg">	
    <span>新天地</span>
    <a class="titleright" href="#"> 喜欢 </a>
    </div>
    
    <div class="innerbox">
	<img src="images/travel4.jpeg">	
    <span>这个酒店好高。。</span>
    <a class="titleright" href="#"> 喜欢 </a>
    </div>
    
    <div class="innerbox">
	<img src="images/travel5.jpeg">	
    <span>在金茂大厦上拍的</span>
    <a class="titleright" href="#"> 喜欢 </a>
    </div>
</div>

<div class="commentbox"> 
	<div class="floatleft" style="float:left;text-align:center; "><a href="#"><img src="images/xiaohuihui.jpg" alt="img"  width=50px > </a>
    </div>

    <!--<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;text-align:left;float:left;">
  <tr>
   <td><img src="images/xiaohuihui.jpg" width=50/></td>
  </tr>
 </table> -->
    <div class="comment" ><a href="#" class="author">小灰灰:</a>
    <span class="text"> 真的很漂亮,一定要去一趟</span>
    </div>
    <div class="time" > 2011-3-4 </div>
        <hr class="commenthr"/>
</div>

<div class="commentbox"> 
	<div class="floatleft" style="float:left;text-align:center; "><a href="#"><img src="images/xiaohuihui.jpg" alt="img"  width=50px > </a>
    </div>

    <!--<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;text-align:left;float:left;">
  <tr>
   <td><img src="images/xiaohuihui.jpg" width=50/></td>
  </tr>
 </table> -->
    <div class="comment" ><a href="#" class="author">小灰灰:</a>
    <span class="text"> 真的很漂亮,一定要去一趟</span>
    </div>
    <div class="time" > 2011-3-4 </div>
    <hr class="commenthr"/>
</div>

<div class="commentbox"> 
	<div class="floatleft" style="float:left;text-align:center; "><a href="#"><img src="images/Cover.jpg" alt="img"  width=50px > </a>
    </div>

    <!--<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;text-align:left;float:left;">
  <tr>
   <td><img src="images/xiaohuihui.jpg" width=50/></td>
  </tr>
 </table> -->
    <div class="comment" ><a href="#" class="author">小灰灰:</a>
    <span class="text"> 真的很漂亮,一定要去一趟</span>
    </div>
    <div class="time" > 2011-3-4 </div>
    <hr class="commenthr"/>
</div>

    
<!--评论部分结束 -->
<section id="content_wrap">
<article>
	
    <!-- Contact Form Start -->
    <div class="two_third">
        <div class="contact_form">
            <form method="post" action="sendEmail.php" name="contact-form" id="contact-form" />	
            <div id="main">
                <div id="response"></div>
                
                <label>评论:</label>
                <p><textarea name="message" id="message" cols="30" rows="10"></textarea></p>
                <p><input class="contact_button button" type="submit" name="submit" id="submit" value="提交评论" /></p>
            </div>
            </form>
        </div>
    </div>
	<!-- Contact Form End -->
</article>
</section>

<br>
<div id="triangle-down">&nbsp;</div>

<!-- Footer Start -->
<section id="footer_wrap">
<footer>
    <div class="fullwidth">
    <!--<div class="widget_container">
        <h3>About <span>Theme</span></h3>
        <p>Etiam rutrum, massa ac viverra malesuada, nisl velit vestibulum leo, non laoreet est leo ut velit.
        Vivamus at ligula est. Phasellus venenatis mollis ligula non rhoncus. Pellentesque malesuada.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend libero eu ligula consectetur
        lacinia. Aliquam non pellentesque turpis. Duis placerat felis sit amet dui gravida vulputate tristique
        nibh rhoncus. Morbi hendrerit cursus nisl quis auctor.</p>
    </div> -->
    </div>
   

    <div class="bottom_sec">
        <span>Copyright &copy; 香草旅行 2013</span>
        <ul>
            <li><img src="images/social_icon_1.png" alt="img" /></li>
            <li><img src="images/social_icon_2.png" alt="img" /></li>
            <li><img src="images/social_icon_3.png" alt="img" /></li>
            <li><img src="images/social_icon_4.png" alt="img" /></li>
            <li><img src="images/social_icon_5.png" alt="img" /></li>
        </ul>
    </div>

</footer>
</section>
<!-- Footer End -->
</body>
</html>
